@font-face {
  font-family: 'BlackHanSansRegular';
  src: url('../assets/fonts/BlackHanSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'KumbhSans';
  src: url('../assets/fonts/KumbhSans-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('../assets/fonts/KumbhSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('../assets/fonts/KumbhSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('../assets/fonts/KumbhSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('../assets/fonts/KumbhSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('../assets/fonts/KumbhSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'KumbhSans', sans-serif;
  font-weight: 400;
  background-color: #1e1f22;
}

.modalBlock {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 10 / 40%);
}

.modalContainer {
  margin: auto;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 10%;
  padding: 40px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  max-width: 500px;
  background-color: #fff;
  color: var(--color-white);
}

.modalLoading {
  top: 40%;
  padding: 30px;
}

/* .modalForgot {
  padding: 40px 40px 10px;
} */

.modalContainerVerification {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  padding: 40px 40px 50px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  max-width: 480px;
  background-color: #fff;
  color: var(--color-white);
}

.closeBtn {
  position: absolute;
  top: -12px;
  right: -15px;
  color: #bbbbbb;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
}

.closeBtn:hover {
  color: black;
}

.greet {
  margin-top: 41px;
  font-size: 80px;
  font-family: 'BlackHanSansRegular';
  text-transform: uppercase;
  color: white;
}

.errorMessage {
  color: 'red';
}

.greetBtn {
  display: flex;
  width: 194px;
  height: 64px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.logInBtn {
  color: #fff;
  border: 1px solid #fff;
}

.logInBtn:hover {
  border: 2px solid #fff;
}

.signUpBtn {
  background-color: #fff;
}

.signUpBtn:hover {
  background-color: #2c3fe1;
}

.submitBtn {
  margin-top: 22px;
  font-size: 20px;
  width: 100%;
  color: '#fff';
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  background-color: #2c3fe1;
}

.submitBtn:hover {
  background-color: #000;
  color: #2c3fe1;
}

.verifyBtn {
  margin-top: 218px;
}

.googleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  gap: 10;
  font-size: 20;
  border: 1px solid #000;
}

.googleBtn:hover {
  border: 2px solid #000;
}

.googleBtn:active {
  background-color: #2c3fe1;
  color: #000;
}

.forgotBtn {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 87px;
  font-size: 11px;
  color: #2c3fe1;
}

.forgotBtn:hover {
  border-bottom: 1px solid #2c3fe1;
}

.reverifyBtn {
  margin-left: 10px;
  font-size: 18px;
  color: #2c3fe1;
  cursor: pointer;
}

.reverifyBtn:hover {
  border-bottom: 2px solid #2c3fe1;
}

/* NavBar */

.menuItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 7px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  user-select: none;
}

.menuItem:hover {
  background-color: #2c3fe1;
}

.menuItemActive {
  background-color: #2c3fe1;
}

.menuItemShort {
  position: relative;

  width: 55px;
  height: 55px;
  padding: 5px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem .allChatsItem {
  content: url('../assets/images/all-chats.svg');
  width: 22px;
  height: 22px;
}

.menuItem .allChatsItemBig {
  content: url('../assets/images/all-chats.svg');
  width: 35px;
  height: 35px;
}

.menuItem:hover .allChatsItemBig {
  content: url('../assets/images/all-chats-white.svg');
}

.menuItem:hover .allChatsItem {
  content: url('../assets/images/all-chats-white.svg');
  width: 22px;
  height: 22px;
}

.menuItem .allChatsItemActive {
  content: url('../assets/images/all-chats-white.svg');
}

.menuItem .activeChatsItem {
  content: url('../assets/images/active-chats.svg');
  width: 22px;
  height: 22px;
}

.menuItem .activeChatsItemBig {
  content: url('../assets/images/active-chats.svg');
  width: 35px;
  height: 35px;
}

.menuItem:hover .activeChatsItemBig {
  content: url('../assets/images/active-chats-white.svg');
}

.menuItem:hover .activeChatsItem {
  content: url('../assets/images/active-chats-white.svg');
}

.menuItem .activeChatsItemActive {
  content: url('../assets/images/active-chats-white.svg');
}

.menuItem .privateChatsItem {
  content: url('../assets/images/private.svg');
  width: 22px;
  height: 22px;
}

.menuItem .privateChatsItemBig {
  content: url('../assets/images/private.svg');
  width: 35px;
  height: 35px;
}

.menuItem:hover .privateChatsItemBig {
  content: url('../assets/images/private-white.svg');
}

.menuItem:hover .privateChatsItem {
  content: url('../assets/images/private-white.svg');
}

.menuItem .privateChatsItemActive {
  content: url('../assets/images/private-white.svg');
}

.menuItem .myChatsItem {
  content: url('../assets/images/my-created.svg');
  width: 22px;
  height: 22px;
}

.menuItem .myChatsItemBig {
  content: url('../assets/images/my-created.svg');
  width: 35px;
  height: 35px;
}

.menuItem:hover .myChatsItemBig {
  content: url('../assets/images/my-created-whitesvg.svg');
}

.menuItem:hover .myChatsItem {
  content: url('../assets/images/my-created-whitesvg.svg');
}

.menuItem .myChatsItemActive {
  content: url('../assets/images/my-created-whitesvg.svg');
}

.menuItem .settingItem {
  content: url('../assets/images/settings.svg');
  width: 22px;
  height: 22px;
}

.menuItem .settingItemBig {
  content: url('../assets/images/settings.svg');
  width: 35px;
  height: 35px;
}

.menuItem:hover .settingItem {
  content: url('../assets/images/settings-white.svg');
}

.menuItem:hover .settingItemBig {
  content: url('../assets/images/settings-white.svg');
}

.menuItem .settingItemActive {
  content: url('../assets/images/settings-white.svg');
}

.tooltip {
  position: absolute;
  top: 0;

  right: -165px;
  width: 170px;
  height: 55px;

  padding: 16px 10px 0px;
  background-color: #2c3fe1;
  border-radius: 4px;
  color: white;

  font-size: 17px;
  line-height: 1.4;
  display: none;
}

.menuItemShort:hover .tooltip {
  display: block;
}

/* Pages */

.page-container {
  background-color: #1e1f22;
  padding: 104px 0 90px 273px;

  /* height: 100vh; */
}

/* Categories */

.category-item {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 0;
  margin: 0 36px 8px 0;
}

.category-item-active {
  color: #2c3fe1;
  border-bottom: 1px solid #2c3fe1;
}

@media (max-width: 1070px) {
  .greet {
    font-size: 2.5em;
  }
}

.selectForm {
  background: #313338;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  margin: 12px 0 20px;
  font-size: 14px;
  cursor: pointer;
}
