.chats-container {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(362px, 1fr));
  gap: 30px;
}

.showMoreBtn {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1440px) {
  .chats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) {
  .chats-container {
    grid-template-columns: 1fr;
  }
}
